aniso8601==1.2.0
asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography<2.2
Flask==0.12.1
Flask-Ask==0.9.8
Flask-MQTT==1.0.5
Flask-Cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
paho-mqtt==1.4.0
pycparser==2.19
pyOpenSSL==17.0.0
python-dateutil==2.8.0
PyYAML==3.12
six==1.11.0
typing==3.6.6
Werkzeug==0.15.2
